#root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: left;
}

.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

kbd {
  font-family: 'Cascadia Code', 'Fira Code', monospace;
  font-size: 0.9em;
}

@media (prefers-reduced-motion: no-preference) {
  button:active {
    transform: scale(0.95);
  }
}